extends ../layout

include ../components/titleBar
include ../components/tableHeader
include ../components/tableCell
include ../components/tableRow

block content

	+titleBar([{title: 'System Config'}])
	div(class="flex flex-wrap m-4")

		table(class="table-auto w-full")
			tbody
				+tableRow('/admin/owners')
					+tableCell('Owners')
					+tableCell('Manage the list of owners/orgs visible in the sidebar menu')
				+tableRow('/admin/repositories')
					+tableCell('Repositories')
					+tableCell('Manage cached config, defaults and manual builds for individual repositories')
